.header{
    background-color: var(--darkBlue);
    color: var(--yellow);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    position: relative;
}
.header ul{
    list-style: none;
}
.options{
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    background-color: inherit;
    position: absolute;
    top: 5.5rem;
    width: 100%;
    gap: .5rem;
    font-size: 1.2rem;
    z-index: 1;
    transition: .3s;

}
.labelCheck ~ :checked ~ .options{
    visibility: visible;
    opacity: 1;
}