.detailsProduct {
  /* padding-top: 18rem; */
  padding-top: 10rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.BreadcrumbContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
 .goBack {
  text-decoration: none;
  padding: 1rem;
  border: 1px solid grey;
  height: fit-content;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
.BreadcrumbContainer label {
  color: var(--darkBlue);
  font-size: 1.2rem;
  font-weight: 500;
}
.generalInformation {
  margin-top: 2rem;
}
.reviesContainer svg {
  width: 2rem;
  height: fit-content;
}
.titleContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}
.titleContainer h2 {
  font-size: 1.8rem;
  opacity: 0.7;
}
.titleContainer span {
  color: var(--darkBlue);
  font-size: 2.5rem;
  font-weight: 700;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
  padding: 3rem;
}
.descriptionContainer p {
  font-size: 1.5rem;
  text-align: justify;
}
.descriptionContainer button {
  border-radius: 0.8rem;
  background-color: var(--darkYellow);
  border-style: none;
  padding: 1.5rem;
  color: var(--darkBlue);
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
.containerImages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.containerImages img {
  object-fit: cover;
  width: 100%;
  height: 20rem;
  border-radius: 0.8rem;
}
.titleSection {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}
.subTitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
.bodyDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.bodyDetails div:nth-child(1) {
  margin-bottom: 2rem;
}
.bodyDetails div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.bodyDetails label {
  font-size: 1.8rem;
  opacity: 0.9;
}
.credito {
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.credito > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-height: 40rem;
  gap: 1rem;
}
.credito div:nth-of-type(1) label {
  color: white;
  font-style: italic;
  font-size: 1.8rem;
}
.credito div:nth-of-type(1) small {
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.credito div:nth-of-type(1) small > svg {
  width: 2.2rem;
  height: fit-content;
  fill: rgb(10, 222, 10);
}
.productsRelation > span {
  margin-bottom: 2rem;
  display: block;
  text-align: start;
}
.relationsContainer {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 1rem;
}
.relationsContainer article {
  scroll-snap-align: center;
  width: 100%;
  min-width: 20rem;
}
.footer {
  background-color: var(--darkYellow);
  padding-bottom: 2rem;
}
.ofertContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
}
.ofertContainer label {
  font-size: 1.8rem;
  color: var(--darkBlue);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.titleFooter {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
}
.emailContainer {
  display: flex;
  border-bottom: 2px solid black;
  padding: 1rem;
}
.ofertContainer input {
  border-style: none;
  background-color: transparent;
  outline: none;
  width: 100%;
}
.ofertContainer input::placeholder {
  color: black;
}
.ofertContainer svg,
.socialMediaContainer svg {
  width: 2.2rem;
  height: fit-content;
}
.ofertContainer svg {
  fill: var(--darkBlue);
}
.conversationContainer,
.conversationContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.conversationContainer svg {
  width: 10rem;
  height: fit-content;
  fill: var(--darkBlue);
}

.socialMediaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}

.ofertContainer svg,
.socialMediaContainer svg,
.descriptionContainer button svg {
  width: 2.2rem;
  height: fit-content;
}
.descriptionContainer button svg {
  fill: var(--darkBlue);
}
.containerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.containerLinks ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.containerLinks a {
  text-decoration: none;
  color: black;
}
.containerLogo{
  background-color: var(--darkBlue);
  border-radius: 1rem;
  padding: 1rem;
  scale: .5;
  padding-top: 1.5rem;
}
.gold{
  color: var(--darkYellow);
}